/* CSS declarations go here */
/*hgdhfgdhgf*/
#login-sign-in-link{
float: left;
  color: #ffa369;
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.6em;
  width: 50%;
  transition: all 300ms ease-in;
  cursor: pointer;
  margin-left:500px;
  margin-top:250px;
}
#login-dropdown-list
{
  background: #ffa369;
  height: initial;
  padding: 3em;
  z-index: 10000000;
}
#content{
margin-left:520px;
margin-top:-10px;
}
.login-link-text{
background: #000000;
width:30px;	
}
.login-close-text
{
	margin-top:-30px;
}
#signup-link
{
 background: #ffa369;
  height: initial;
  padding: 3em;
  z-index: 10000000;
}
button{
	display: block;
}
h1{
display:block;
}
pre{
display:inline;
}
div{
display:inline;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
p{
display:inline-block;
margin-left:63s%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


